---
http_interactions:
- request:
    method: post
    uri: https://cws.correios.com.br/cws/abrangenciaService/abrangenciaWS?wsdl
    body:
      encoding: UTF-8
      string: <x:Envelope xmlns:x="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://service.abrangencia.cws.correios.com.br/"><x:Header/><x:Body><ser:consultarAbrangenciaDoServico><listaServico>PAC</listaServico><cepOrigem>90450020</cepOrigem><cepDestino>90450020</cepDestino></ser:consultarAbrangenciaDoServico></x:Body></x:Envelope>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MTY3MzMyNjgwMDAxNzI6bWVzYWx2YTIwMTM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:consultarAbrangenciaDoServicoResponse
        xmlns:ns2="http://service.abrangencia.cws.correios.com.br/"><retorno><codigoRetorno>AB-0000</codigoRetorno><descricaoRetorno>Processamento
        OK.</descricaoRetorno><versao>1.9</versao><dataHoraRetorno>2022-06-27T16:27:26.062-03:00</dataHoraRetorno><abrangencia><listaServicos><codigo>41106</codigo><descricao>PAC_A_VISTA</descricao><disponibilidade>true</disponibilidade></listaServicos></abrangencia></retorno></ns2:consultarAbrangenciaDoServicoResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 27 Jun 2022 19:27:24 GMT
- request:
    method: post
    uri: https://cws.correios.com.br/cws/abrangenciaService/abrangenciaWS?wsdl
    body:
      encoding: UTF-8
      string: <x:Envelope xmlns:x="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ser="http://service.abrangencia.cws.correios.com.br/"><x:Header/><x:Body><ser:consultarAbrangenciaDoServico><listaServico>SEDEX</listaServico><cepOrigem>90450020</cepOrigem><cepDestino>90450020</cepDestino></ser:consultarAbrangenciaDoServico></x:Body></x:Envelope>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MTY3MzMyNjgwMDAxNzI6bWVzYWx2YTIwMTM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:consultarAbrangenciaDoServicoResponse
        xmlns:ns2="http://service.abrangencia.cws.correios.com.br/"><retorno><codigoRetorno>AB-0000</codigoRetorno><descricaoRetorno>Processamento
        OK.</descricaoRetorno><versao>1.9</versao><dataHoraRetorno>2022-06-27T16:27:26.211-03:00</dataHoraRetorno><abrangencia><listaServicos><codigo>40010</codigo><descricao>SEDEX_A_VISTA</descricao><disponibilidade>true</disponibilidade></listaServicos></abrangencia></retorno></ns2:consultarAbrangenciaDoServicoResponse></soap:Body></soap:Envelope>
  recorded_at: Mon, 27 Jun 2022 19:27:25 GMT
recorded_with: VCR 5.0.0