/.bundle
/log
/tmp
!/log/.keep
!/tmp/.keep
.byebug_history
public/uploads/*
/public/assets
.DS_Store
tags
.env*
!.env.sample
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
/.bundle
/vendor/bundle
.byebug_history
config/database.yml
dump.rdb
*.swp
*.swo
*.swn
blueprint/synthetic.apib
latest.dump
/node_modules
blueprint/temp.apib
custom_plan.rb
zeus.json
.idea
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.history
routes.txt
integration_results.txt
report.md
