FORMAT: 1A
HOST: https://apiv2.mesalva.com

# Me Salva! API

Me Salva! API é uma api de acesso ao conteúdo do site https://mesalva.com com
o intuito de buscar todas as informações referentes a banco de dados e regras de negócio.

## Requisição

A API do Me Salva! segue o padrão REST, onde o webservice armazena e provê acesso
aos dados através de requisições HTTP.

Cada uma das URIs (também chamadas endpoints) identifica um recurso disponível no webservice.
Requisições HTTP ```POST, GET, PUT, DELETE``` permitem à aplicação cliente, criar, acessar,
alterar e remover um recurso respectivamente.

### Requisições permitidas

`POST`: Criar um recurso

`GET`: Obter informações de uma lista de recursos ou um recurso específico. Esses métodos
são indepotentes, o que significa que são usados apenas para fornecer informações, sem
modificar estado nos recursos.

`PUT`: Atualizar um recurso

`DELETE`: Deletar ou desabilitar um recurso

## Resposta

A API retorna uma resposta com corpo no padrão [JSON API](http://jsonapi.org),
exceção feita para respostas de consumo de APIs de terceiros, que seguem o
padrão original do serviço. Os seguintes status HTTP são retornados por padrão:

* 200 OK - A requisição foi realizada corretamente.
* 201 Created - A requisição foi realizada corretamente e o recurso criado.
* 204 No Content - A requisição foi realizada corretamente e não há nada a ser retornado.
* 400 Bad Request - A sintaxe da requisição está mal formulada ou está faltando parâmetros
requeridos na requisição.
* 401 Unauthorized - A autenticação falhou ou o usuário não possui as devidas permissões
para a requisição requisitada.
* 403 Forbidden - Acesso negado.
* 404 Not Found - O recurso requisitado não foi encontrado.
* 500 Internal Server Error - O servidor encontrou uma condição inesperada que o impediu
de satisfazer a requisição.

## Autenticação
A API foi desenvolvida utilizando o protocolo [OAuth 2.0](https://tools.ietf.org/html/rfc6749)
no formato [RFC 6750 Bearer Token](https://tools.ietf.org/html/rfc6750) para autenticação, usando
`bearer tokens` nas requisições HTTP para validar acesso a recursos protegidos
e retornando outro bearer token no cabeçalho da resposta para uso na próxima requisição.

## Caching
Os headers `Cache-Control` e `ETag` são disponibilizados para controle de cache
a nível de frontend e browser. Para rotas cacheadas, `Cache-Control` retorna
`private` ou `public`, com um valor de `max-age=3600` e `ETag` retorna um hash
MD5 do conteúdo. Já as rotas não cacheadas, retornam sempre `Cache-Control:no-cache, private`.

Rotas cacheadas não retornam tokens de autenticação.

Rotas cacheadas:
* [Segmentos de ensino](http://docs.mesalva.apiary.io/#reference/segmentos-de-ensino)
* [Objetivos](http://docs.mesalva.apiary.io/#reference/objetivos)
* [Níveis de ensino](http://docs.mesalva.apiary.io/#reference/niveis-de-ensino)
* [Navegação](http://docs.mesalva.apiary.io/#reference/navegacao)
* [Contadores](http://docs.mesalva.apiary.io/#reference/contadores)

## Codificação
Use a codificação UTF-8 ao enviar argumentos para os métodos da API.

## Redação
Respeite o fluxo dos estados de uma redação:

- awaiting_correction
    - correcting
    - cancelled
- correcting
    - awaiting_correction
    - corrected
    - uncorrectable
- corrected
    - awaiting_correction
    -  correcting
    -  delivered

# Group Registros

## Registro de Estudante [/user]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Registro de estudantes [POST]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "name": "Rafael Nadal",
                  "email": "user@registro.com",
                  "password": "12345678",
                  "password_confirmation": "12345678"
                }

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "user@registro.com",
                      "type": "users",
                      "attributes":
                        {
                          "provider": "email",
                          "uid": "user@registro.com",
                          "name": "Rafael Nadal",
                          "image":
                            {
                              "url": null
                            },
                          "email": "user@registro.com",
                          "birth-date": null,
                          "gender": null,
                          "studies": null,
                          "dreams": null,
                          "premium": false,
                          "origin": null,
                          "active": true,
                          "created-at" : "2017-02-12T08:44:42.174Z"
                        },
                      "relationships":
                        {
                          "address":
                            { "data": null },
                          "academic-info":
                            { "data": null },
                          "education-level":
                            { "data": null },
                          "objective":
                            { "data": null }
                        }
                    }
                }

# Group Logins

## Logout de Estudante [/user/sign_out]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Logout de estudantes [DELETE]

+ Request (application/json)
    + Headers

                uid:  user@logout.com
                access-token:  kaTuL76JKSqWb9PmwnQYQA
                token-type:  Bearer
                client:  WEB

+ Response 204


## Login de Estudante [/user/sign_in]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Login de estudantes [POST]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "email": "user@login.com",
                  "password": "user"
                }

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "user@login.com",
                      "type": "users",
                      "attributes":
                        {
                          "provider": "email",
                          "uid": "user@login.com",
                          "name": null,
                          "image":
                            {
                              "url": null
                            },
                          "email": "user@login.com",
                          "birth-date": null,
                          "gender": null,
                          "studies": null,
                          "dreams": null,
                          "premium": false,
                          "origin": null,
                          "active": true,
                          "created-at" : "2017-02-12T08:44:42.174Z"
                        },
                      "relationships":
                        {
                          "address":
                            { "data": null },
                          "academic-info":
                            { "data": null },
                          "education-level":
                            { "data": null },
                          "objective":
                            { "data": null }
                        }
                    }
                }

<!-- 
## Login de Estudantes com rede social [/user/facebook/callback]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers
                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked
 -->

### Login de Usuário com facebook [POST]
###### Para login com *google*, usar a rota (/user/**google**/callback) com os mesmos parametros.

+ Request (application/json)
    + Headers

                client:  WEB

    + Body

                {
                  "token": "EAAB2R9ApZC6QBAKPLl91NOLiJS4JuIkeQZCA4aPvQ07ZBxwXYkosJnLDcgEWnpyV3ZBYhrFQMU8cULZCzhRVgGSsUWTL4qjAU0mb8V7ABZAkWt8oK6ImcP8jSfmdpNVQZBXIG0QAZBtc0CZCaQkU6GfulQc8yJ1si5pnmKhGjhSYgdHex5jLbOk3d"
                }

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "104758079989784",
                    "type": "users",
                    "attributes": {
                      "provider": "facebook",
                      "uid": "104758079989784",
                      "name": "MayconSeidel",
                      "image": {
                        "url": null
                      },
                      "email": null,
                      "birth-date": null,
                      "gender": "female",
                      "studies": null,
                      "dreams": null,
                      "premium": false,
                      "origin": null,
                      "active": true
                    },
                    "relationships": {
                      "address": {
                        "data": null
                      },
                      "academic-info": {
                        "data": null
                      },
                      "education-level": {
                        "data": null
                      },
                      "objective": {
                        "data": null
                      }
                    }
                  }
                }



## Login de Estudantes para outra plataforma [/user/sign_in/{platform}]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked

### Login para outra plataforma [POST]
###### Uma request para este endpoint não invalida os headers da plataforma que fez a requisição.

+ Request (application/json)
    + Parameters
        + platform: `IOS` (string, required)
    + Headers

                uid:  user@integration.com
                access-token:  kaTuL76JKSqWb9PmwnQYQA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "access-token": "NoMyR9PrYFlDEZDhSP3kug",
                  "token-type": "Bearer",
                  "client": "IOS",
                  "expiry": "1513874578",
                  "uid": "user@integration.com"
                }


## Login de Professor [/teacher/sign_in]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Login de professores [POST]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "email": "teacher@login.com",
                  "password": "teacher"
                }

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "teacher@login.com",
                      "type": "techers",
                      "attributes":
                        { "uid": "teacher@login.com",
                          "name": null,
                          "image":
                            {
                              "url": null
                            },
                          "email": "teacher@login.com",
                          "description": null,
                          "birth-date": null,
                          "active": true
                        }
                    }
                }


## Login de Admin [/admin/sign_in]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Login de administradores [POST]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "email": "admin@login.com",
                  "password": "admin"
                }

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "admin@login.com",
                      "type": "admins",
                      "attributes":
                        {
                          "uid": "admin@login.com",
                          "name": null,
                          "image":
                            {
                              "url": null
                            },
                          "email": "admin@login.com",
                          "birth-date": null,
                          "active": true
                        }
                    }
                }

# Group Convites

## Professores [/teacher/invitation]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Convite de professores [POST]

+ Request (application/json)
    + Body

                {
                  "email": "teacher@invite.com",
                  "name": "Teacher Guest"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "teacher@invite.com",
                      "type": "teachers",
                      "attributes":
                        { "uid": "teacher@invite.com",
                          "name": "Teacher Guest",
                          "image": { "url": null },
                          "email": "teacher@invite.com",
                          "description": null,
                          "birth-date": null,
                          "active": true
                        }
                    }
                }


### Aceitar convite de professor [PUT]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "invitation_token": "yzktDzhWE3uQnLnQyzQi",
                  "password": "12345678",
                  "password_confirmation": "12345678"
                }

+ Response 202 (application/json; charset=utf-8)
    + Body

                {
                  "success": ["Teacher updated."]
                }



## Administradores [/admin/invitation]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Convite de administradores [POST]

+ Request (application/json)
    + Body

                {
                  "email": "admin@invite.com",
                  "name": "Admin Guest"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "admin@invite.com",
                      "type": "admins",
                      "attributes":
                        { "uid": "admin@invite.com",
                          "name": "Admin Guest",
                          "image": { "url": null },
                          "email": "admin@invite.com",
                          "description": null,
                          "birth-date": null,
                          "active": true
                        }
                    }
                }


### Aceitar convite de administradores [PUT]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "invitation_token": "XzcT-3JLdpuuwBJy3sVy",
                  "password": "12345678",
                  "password_confirmation": "12345678"
                }

+ Response 202 (application/json; charset=utf-8)
    + Body

                {
                  "success": ["Admin updated."]
                }

# Group Redefinições de senha

## Estudantes [/user/password]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Solicitação de redefinição senha de estudantes [POST]

+ Request (application/json)
    + Body

                {
                  "email": "user@password.com"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "success": true,
                  "message": "An email has been sent to 'user@password.com' containing instructions for resetting your password."
                }


### Redefinição de senha de estudante [PUT]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "reset_password_token": "zyvuiRYwNNuPJp9iiV1w",
                  "password": "87654321",
                  "password_confirmation": "87654321"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "user@reset.com",
                      "type": "users",
                      "attributes":
                        { "provider": "email",
                          "uid": "user@reset.com",
                          "name": null,
                          "image": {"url":null},
                          "email": "user@reset.com",
                          "birth-date": null,
                          "gender": null,
                          "studies": null,
                          "dreams": null,
                          "premium": false,
                          "origin": null,
                          "active": true,
                          "created-at" : "2017-02-12T08:44:42.174Z"
                        },
                      "relationships":
                        { "address":
                            { "data": null },
                          "academic-info":
                            { "data": null },
                          "education-level":
                            { "data": null },
                          "objective":
                            { "data": null }
                        }
                    }
                }


## Professores [/teacher/password]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Solicitação de redefinição senha de professores [POST]

+ Request (application/json)
    + Body

                {
                  "email": "teacher@password.com"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "success": true,
                  "message": "An email has been sent to 'teacher@password.com' containing instructions for resetting your password."
                }


### Redefinição de senha de professor [PUT]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "reset_password_token": "zyvuiRYwNNuPJp9iiV1w",
                  "password": "87654321",
                  "password_confirmation": "87654321"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "teacher@reset.com",
                      "type": "teachers",
                      "attributes":
                        { "uid": "teacher@reset.com",
                          "name":null,
                          "image": { "url": null },
                          "email": "teacher@reset.com",
                          "description": null,
                          "birth-date": null,
                          "active": true
                        }
                    }
                }


## Administradores [/admin/password]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Solicitação de redefinição senha de administradores [POST]

+ Request (application/json)
    + Body

                {
                  "email": "admin@password.com"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "success": true,
                  "message": "An email has been sent to 'admin@password.com' containing instructions for resetting your password."
                }


### Redefinição de senha de admin [PUT]

+ Request (application/json)
    + Headers

                client: WEB

    + Body

                {
                  "reset_password_token": "zyvuiRYwNNuPJp9iiV1w",
                  "password": "87654321",
                  "password_confirmation": "87654321"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "admin@reset.com",
                      "type": "admins",
                      "attributes":
                        { "uid": "admin@reset.com",
                          "name":null,
                          "image": { "url": null },
                          "email": "admin@reset.com",
                          "description": null,
                          "birth-date": null,
                          "active": true
                        }
                    }
                }

# Group Perfis

## Estudantes [/user/profiles]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Consulta de perfil do estudante [GET]
+ Request (application/json)
    + Headers

                uid:  user@integration.com
                access-token:  kaTuL76JKSqWb9PmwnQYQA
                client:  WEB


+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "user@integration.com",
                    "type": "users",
                    "attributes": {
                      "provider": "email",
                      "uid": "user@integration.com",
                      "name": null,
                      "image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.png"
                      },
                      "email": "user@integration.com",
                      "birth-date": null,
                      "gender": null,
                      "studies": null,
                      "dreams": null,
                      "premium": false,
                      "origin": null,
                      "active": true,
                      "created-at" : "2017-02-12T08:44:42.174Z"
                    },
                    "relationships": {
                      "address": {
                        "data": null
                      },
                      "academic-info": {
                        "data": null
                      },
                      "education-level": {
                        "data": null
                      },
                      "objective": {
                        "data": null
                      }
                    }
                  }
                }


### Atualização de estudante [PUT]
Arquivos enviados devem ser codificados em base64 e formatados em Data URI scheme format: `data:image/jpeg;base64,(base64 encoded data)`

+ Request (application/json)
    + Body

                {
                  "name": "Novo nome com atributo",
                  "birth_date": "26-02-1994",
                  "gender": "Masculino",
                  "studies": "Complementar",
                  "dreams": "Quero estudar design automotivo para poder desenhar meus próprios carros",
                  "origin": "Indicação de um amigo",
                  "objective_id": 1,
                  "education_level_id": 1,
                  "image": "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP4z8DwHwAFAAH/VscvDQAAAABJRU5ErkJggg==",
                  "address_attributes": {
                    "street": "Rua Padre Chagas",
                    "street_number": "79",
                    "street_detail": "302",
                    "neighborhood": "Moinhos de Vento",
                    "city": "Porto Alegre",
                    "zip_code": "91920-000",
                    "state": "RS",
                    "country": "Brasil",
                    "area_code": "11",
                    "phone_number": "979911992"
                  },
                  "academic_info_attributes": {
                    "agenda": "10/12/2016 - Exame de cálculo",
                    "current_school": "UFRGS",
                    "current_school_courses": "Arquitetura",
                    "desired_courses": "Engenharia Ambiental",
                    "school_appliances": "ENEM",
                    "school_appliance_this_year": "Sim",
                    "favorite_school_subjects": "Matemática",
                    "difficult_learning_subjects": "Redação",
                    "current_academic_activities": "Cálculo diferencial e integral",
                    "next_academic_activities": "Física II"
                  }
                }

    + Headers

                uid:  user@integration.com
                access-token:  kaTuL76JKSqWb9PmwnQYQA
                client:  WEB


+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "user@integration.com",
                    "type": "users",
                    "attributes": {
                      "provider": "email",
                      "uid": "user@integration.com",
                      "name": "Novo nome com atributo",
                      "image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.jpeg"
                      },
                      "email": "user@integration.com",
                      "birth-date": "26-02-1994",
                      "gender": "Masculino",
                      "studies": "Complementar",
                      "dreams": "Quero estudar design automotivo para poder desenhar meus próprios carros",
                      "premium": false,
                      "origin": "Indicação de um amigo",
                      "active": true,
                      "created-at" : "2017-02-12T08:44:42.174Z"
                    },
                    "relationships": {
                      "address": {
                        "data": {
                          "id": "3",
                          "type": "addresses"
                        }
                      },
                      "academic-info": {
                        "data": {
                          "id": "1",
                          "type": "academic-infos"
                        }
                      },
                      "education-level": {
                        "data": {
                          "id": "1",
                          "type": "education-levels"
                        }
                      },
                      "objective": {
                        "data": {
                          "id": "1",
                          "type": "objectives"
                        }
                      }
                    }
                  },
                  "included": [{
                    "id": "3",
                    "type": "addresses",
                    "attributes": {
                      "street": "Rua Padre Chagas",
                      "street-number": 79,
                      "street-detail": "302",
                      "neighborhood": "Moinhos de Vento",
                      "city": "Porto Alegre",
                      "zip-code": "91920-000",
                      "state": "RS",
                      "country": "Brasil",
                      "area-code": "11",
                      "phone-number": "979911992"
                    }
                  }, {
                    "id": "1",
                    "type": "academic-infos",
                    "attributes": {
                      "agenda": "10/12/2016 - Exame de cálculo",
                      "current-school": "UFRGS",
                      "current-school-courses": "Arquitetura",
                      "desired-courses": "Engenharia Ambiental",
                      "school-appliances": "ENEM",
                      "school-appliance-this-year": "Sim",
                      "favorite-school-subjects": "Matemática",
                      "difficult-learning-subjects": "Redação",
                      "current-academic-activities": "Cálculo diferencial e integral",
                      "next-academic-activities": "Física II"
                    }
                  }, {
                    "id": "1",
                    "type": "education-levels",
                    "attributes": {
                      "name": "Ensino fundamental em andamento"
                    }
                  }, {
                    "id": "1",
                    "type": "objectives",
                    "attributes": {
                      "name": "Estudar para o ensino fundamental",
                      "education-segment-slug": null
                    }
                  }]
                }


## Ações de administrador [/user/profiles?uid=user@integration.com]
### Busca de perfil do estudante [GET]


+ Request (application/json)
    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "user@integration.com",
                    "type": "users",
                    "attributes": {
                      "provider": "email",
                      "uid": "user@integration.com",
                      "name": null,
                      "image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.png"
                      },
                      "email": "user@integration.com",
                      "birth-date": null,
                      "gender": null,
                      "studies": null,
                      "dreams": null,
                      "premium": false,
                      "origin": null,
                      "active": true
                    },
                    "relationships": {
                      "address": {
                        "data": null
                      },
                      "academic-info": {
                        "data": null
                      },
                      "education-level": {
                        "data": null
                      },
                      "objective": {
                        "data": null
                      }
                    }
                  }
                }


### Atualização de estudante [PUT]

+ Request (application/json)

    + Body

                {
                  "user": {
                    "uid": "user@integration.com",
                    "name": "Novo nome pelo admin",
                    "birth_date": "26-02-1994",
                    "gender": "Masculino",
                    "studies": "Complementar",
                    "dreams": "Quero estudar design automotivo para poder desenhar meus próprios carros",
                    "origin": "Indicação de um amigo",
                    "objective_id": 1,
                    "education_level_id": 1
                  }
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)

    + Body

                {
                  "data": {
                    "id": "1",
                    "type": "users",
                    "attributes": {
                      "provider": "email",
                      "uid": "user@integration.com",
                      "name": "Novo nome pelo admin",
                      "image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.png"
                      },
                      "email": "user@integration.com",
                      "birth-date": "26-02-1994",
                      "gender": "Masculino",
                      "studies": "Complementar",
                      "dreams": "Quero estudar design automotivo para poder desenhar meus próprios carros",
                      "premium": false,
                      "origin": "Indicação de um amigo",
                      "active": true
                    },
                    "relationships": {
                      "address": {
                        "data": {
                          "id": "3",
                          "type": "addresses"
                        }
                      },
                      "academic-info": {
                        "data": {
                          "id": "1",
                          "type": "academic-infos"
                        }
                      },
                      "education-level": {
                        "data": {
                          "id": "1",
                          "type": "education-levels"
                        }
                      },
                      "objective": {
                        "data": {
                          "id": "1",
                          "type": "objectives"
                        }
                      }
                    }
                  },
                  "included": [{
                    "id": "3",
                    "type": "addresses",
                    "attributes": {
                      "street": "Rua Padre Chagas",
                      "street-number": 79,
                      "street-detail": "302",
                      "neighborhood": "Moinhos de Vento",
                      "city": "Porto Alegre",
                      "zip-code": "91920-000",
                      "state": "RS",
                      "country": "Brasil",
                      "area-code": "11",
                      "phone-number": "979911992"
                    }
                  }, {
                    "id": "1",
                    "type": "academic-infos",
                    "attributes": {
                      "agenda": "10/12/2016 - Exame de cálculo",
                      "current-school": "UFRGS",
                      "current-school-courses": "Arquitetura",
                      "desired-courses": "Engenharia Ambiental",
                      "school-appliances": "ENEM",
                      "school-appliance-this-year": "Sim",
                      "favorite-school-subjects": "Matemática",
                      "difficult-learning-subjects": "Redação",
                      "current-academic-activities": "Cálculo diferencial e integral",
                      "next-academic-activities": "Física II"
                    }
                  }, {
                    "id": "1",
                    "type": "education-levels",
                    "attributes": {
                      "name": "Ensino fundamental em andamento"
                    }
                  }, {
                    "id": "1",
                    "type": "objectives",
                    "attributes": {
                      "name": "Estudar para o ensino fundamental",
                      "education-segment-slug": null
                    }
                  }]
                }


## Professores [/teacher/profiles]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Atualização de professor [PUT]

+ Request (application/json)

    + Body

                {
                  "teacher": {
                    "name": "Novo nome de professor",
                    "nickname": "Rafa",
                    "description": "Professor de biologia",
                    "birth_date": "12-05-1992"
                  }
                }

    + Headers

                uid: teacher@integration.com
                access-token: LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)

                {
                  "data": {
                    "id": "teacher@integration.com",
                    "type": "teachers",
                    "attributes": {
                      "uid": "teacher@integration.com",
                      "name": "Novo nome de professor",
                      "image": {
                        "url": null
                      },
                      "email": "teacher@integration.com",
                      "description": "Professor de biologia",
                      "birth-date": "12-05-1992",
                      "active": true
                    }
                  }
                }


## Ações de administrador [/teacher/profiles?uid=teacher@integration.com]
### Buscar perfil de professor como um administrador [GET]

+ Request (application/json)

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)

    + Body

                {
                  "data": {
                    "id": "teacher@integration.com",
                    "type": "teachers",
                    "attributes": {
                      "uid": "teacher@integration.com",
                      "name": null,
                      "image": {
                        "url": null
                      },
                      "email": "teacher@integration.com",
                      "description": null,
                      "birth-date": null,
                      "active": true
                    }
                  }
                }


## Administradores [/admin/profiles]
### Métodos HTTP disponíveis [OPTIONS]

+ Request

    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)

    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Atualização de administrador [PUT]

+ Request (application/json)

    + Body

                {
                  "admin": {
                    "name": "Novo nome de admin",
                    "nickname": "Cadu",
                    "description": "Administrador do forum",
                    "birth_date": "24-01-1991"
                  }
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)

                {
                  "data": {
                    "id": "admin@integration.com",
                    "type": "admins",
                    "attributes": {
                      "uid": "admin@integration.com",
                      "name": "Novo nome de admin",
                      "image": {
                        "url": null
                      },
                      "email": "admin@integration.com",
                      "description": "Administrador do forum",
                      "birth-date": "24-01-1991",
                      "active": true
                    }
                  }
                }

# Group Personificações

## Personificações de estudantes [/admin/impersonations]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Force login de estudantes e professores [POST]

+ Request (application/json)
    + Body

                {
                  "uid": "user@impersonations.com"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data":
                    { "id": "1",
                      "type": "users",
                      "attributes":
                        {
                          "provider": "email",
                          "uid": "user@impersonations.com",
                          "name": null,
                          "image":
                            {
                              "url":null
                            },
                          "email": "user@impersonations.com",
                          "birth-date": null,
                          "gender": null,
                          "studies": null,
                          "dreams": null,
                          "premium": false,
                          "origin": null,
                          "active": true,
                          "created-at": "2017-02-12T08:44:42.174Z"
                        },
                      "relationships":
                        {
                          "address":
                            { "data": null },
                          "academic-info":
                            { "data": null },
                          "education-level": {
                            "data": {
                              "id": "1",
                              "type": "education-levels"
                            }
                          },
                          "objective": {
                            "data": {
                              "id": "1",
                              "type": "objectives"
                            }
                          }
                        }
                      },
                      "included": [{
                        "id": "2",
                        "type": "education-levels",
                        "attributes": {
                          "name": "Ensino fundamental concluído"
                        }
                      }, {
                        "id": "2",
                        "type": "objectives",
                        "attributes": {
                          "name": "Estudar para o ensino médio",
                          "education-segment-slug": "ensino-medio"
                        }
                      }]
                    }

# Group Conteúdos

## Novo Node [/nodes]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Criação de node na hierarquia de conteúdo [POST]

+ Request (application/json)
    + Body

                {
                  "name": "Engenharia",
                  "node_type": "education_segment",
                  "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP4z8DwHwAFAAH/VscvDQAAAABJRU5ErkJggg==",
                  "video": "https://www.youtube.com/watch?v=Es-SdyJi2Rc",
                  "color_hex": "ED4343"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "16",
                    "type": "nodes",
                    "attributes": {
                      "name": "Engenharia",
                      "slug": "engenharia",
                      "description": null,
                      "image": {
                        "url": "https://cdnqa.mesalva.com/uploads/node/image/integration.png"
                      },
                      "video": "https://www.youtube.com/watch?v=Es-SdyJi2Rc",
                      "color-hex": "ED4343",
                      "created-by": "admin@integration.com",
                      "updated-by": null,
                      "node-type": "education_segment",
                      "suggested-to": null,
                      "pre-requisite": null,
                      "children": [],
                      "parent": null,
                      "active": true
                    },
                    "relationships": {
                      "media": {
                        "data": []
                      },
                      "node-modules": {
                        "data": []
                      }
                    }
                  }
                }


## Nodes [/nodes/{id}]
### Atualização de node na hierarquia de conteúdo [PUT]

+ Request (application/json)
    + Parameters
        + id: `1` (number, required) - Id do node

    + Body

                {
                  "name": "Matemática",
                  "node_type": "education_segment",
                  "color_hex": "ED4343"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)

                {
                  "data": {
                    "id": "1",
                    "type": "nodes",
                    "attributes": {
                      "name": "Matemática",
                      "slug": "matematica",
                      "description": "Me Salva",
                      "image": {
                        "url": null
                      },
                      "video": null,
                      "color-hex": "ED4343",
                      "created-by": null,
                      "updated-by": "admin@integration.com",
                      "node-type": "education_segment",
                      "suggested-to": null,
                      "pre-requisite": null,
                      "children": [{
                        "id": 2,
                        "name": "Enem e Vestibulares",
                        "slug": "enem-e-vestibulares",
                        "image": {
                          "url": null
                        }
                      }, {
                        "id": 14,
                        "name": "New Education Segment",
                        "slug": "new-education-segment",
                        "image": {
                          "url": null
                        }
                      }],
                      "parent": null,
                      "active": true
                    },
                    "relationships": {
                      "media": {
                        "data": []
                      },
                      "node-modules": {
                        "data": []
                      }
                    }
                  }
                }


### Vínculo de node_modules em node [PUT]

+ Request (application/json)
    + Parameters
        + id: `4` (number, required) - Id do node

    + Body

                {
                  "node_module_ids": [2,1]
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "4",
                    "type": "nodes",
                    "attributes": {
                      "name": "Matemática e suas tecnologias",
                      "slug": "matematica-e-suas-tecnologias",
                      "description": null,
                      "image": {
                        "url": null
                      },
                      "video": null,
                      "color-hex": "ED4343",
                      "created-by": null,
                      "updated-by": "admin@integration.com",
                      "node-type": "area",
                      "suggested-to": null,
                      "pre-requisite": null,
                      "children": [{
                        "id": 5,
                        "name": "Matemática",
                        "slug": "matematica",
                        "image": {
                          "url": null
                        }
                      }, {
                        "id": 10,
                        "name": "Materias",
                        "slug": "materias",
                        "image": {
                          "url": null
                        }
                      }],
                      "parent": {
                        "id": 3,
                        "name": "Plano de estudos 1",
                        "slug": "plano-de-estudos-1",
                        "image": {
                          "url": null
                        }
                      },
                      "active": true
                    },
                    "relationships": {
                      "media": {
                        "data": []
                      },
                      "node-modules": {
                        "data": [{
                          "id": "2",
                          "type": "node-modules"
                        }, {
                          "id": "1",
                          "type": "node-modules"
                        }]
                      }
                    }
                  }
                }


## Novo Node Module [/node_modules]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Criação de node module na hierarquia de conteúdo [POST]

+ Request (application/json)
    + Body

                {
                  "instructor_uid": "teacher@integration.com",
                  "instructor_type": "Teacher",
                  "name": "Álgebra Linear",
                  "code": "alg01",
                  "description": "Álgebra linear é um ramo da matemática que surgiu do estudo detalhado de sistemas de equações lineares, sejam elas algébricas ou diferenciais.",
                  "suggested_to": "Estudantes da disciplina de matemática",
                  "pre_requisite": "Saber ler e escrever",
                  "position": 1
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "6",
                    "type": "node-modules",
                    "attributes": {
                      "name": "Álgebra Linear",
                      "slug": "algebra-linear",
                      "code": "alg01",
                      "description": "Álgebra linear é um ramo da matemática que surgiu do estudo detalhado de sistemas de equações lineares, sejam elas algébricas ou diferenciais.",
                      "suggested-to": "Estudantes da disciplina de matemática",
                      "pre-requisite": "Saber ler e escrever",
                      "image": {
                        "url": null
                      },
                      "created-by": "admin@integration.com",
                      "updated-by": null,
                      "active": true,
                      "instructor": {
                        "uid": "teacher@integration.com",
                        "name": null,
                        "image": {
                          "url": null
                        },
                        "description": null
                      },
                      "relevancy": 1,
                      "position": 1,
                      "node-module-type": "default"
                    },
                    "relationships": {
                      "media": {
                        "data": []
                      },
                      "items": {
                        "data": []
                      },
                      "nodes": {
                        "data": []
                      }
                    }
                  }
                }


## Node Module [/node_modules/{id}]
### Atualização de node module na hierarquia de conteúdo [PUT]

+ Request (application/json)
    + Parameters
        + id: `1` (number, required) - Id do node module

    + Body

                {
                  "instructor_uid": "admin@integration.com",
                  "instructor_type": "Admin",
                  "name": "Álgebra Linear e suas Aplicações"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "1",
                    "type": "node-modules",
                    "attributes": {
                      "name": "Álgebra Linear e suas Aplicações",
                      "slug": "algebra-linear",
                      "code": "alg01",
                      "description": "Álgebra linear é um ramo da matemática que surgiu do estudo detalhado de sistemas de equações lineares, sejam elas algébricas ou diferenciais.",
                      "suggested-to": "Estudantes da disciplina de matemática",
                      "pre-requisite": "Saber ler e escrever",
                      "image": {
                        "url": null
                      },
                      "created-by": null,
                      "updated-by": "admin@integration.com",
                      "active": null,
                      "instructor": {
                        "uid": "admin@integration.com",
                        "name": null,
                        "image": {
                          "url": null
                        },
                        "description": null
                      }
                    },
                    "relationships": {
                      "media": {
                        "data": []
                      },
                      "items": {
                        "data": [{
                          "id": "1",
                          "type": "items"
                        }]
                      },
                      "nodes": {
                        "data": [{
                          "id": "4",
                          "type": "nodes"
                        }]
                      }
                    }
                  }
                }


## Novo Item [/items]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Criação de item na hierarquia de conteúdo [POST]

+ Request (application/json)
    + Body

                {
                  "name": "Básico",
                  "code": "BAS",
                  "description": "item basico",
                  "free": "true",
                  "active": "true",
                  "item_type": "text",
                  "downloadable": "true"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "2",
                    "type": "items",
                    "attributes": {
                      "name": "Básico",
                      "slug": "basico",
                      "description": "item basico",
                      "free": true,
                      "active": true,
                      "code": "BAS",
                      "created-by": "admin@integration.com",
                      "updated-by": null,
                      "item-type": "text",
                      "downloadable": "true"
                    },
                    "relationships": {
                      "media": {
                        "data": []
                      },
                      "node-modules": {
                        "data": []
                      }
                    }
                  }
                }


## Items [/items/{id}]
### Atualização de item na hierarquia de conteúdo [PUT]

+ Request (application/json)
    + Parameters
        + id: `1` (number, required) - Id do item

    + Body

                {
                  "name": "Hiper mega avançado",
                  "tag": ["Básico"]
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "1",
                    "type": "items",
                    "attributes": {
                      "name": "Hiper mega avançado",
                      "slug": "basico",
                      "description": "item basico",
                      "free": true,
                      "active": true,
                      "code": "BAS",
                      "created-by": "1",
                      "updated-by": "admin@integration.com",
                      "item-type": "lesson",
                      "downloadable": "true",
                      "tag": ["Básico"]
                    },
                    "relationships": {
                      "media": {
                        "data": [{
                          "id": "1",
                          "type": "media"
                        }, {
                          "id": "2",
                          "type": "media"
                        }]
                      },
                      "node-modules": {
                        "data": [{
                          "id": "1",
                          "type": "node-modules"
                        }]
                      }
                    }
                  }
                }


## Media [/media]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Criação de uma midia do tipo video [POST]
+ Request (application/json)
    + Body

                {
                  "name": "Video 01",
                  "medium_type": "video",
                  "video_id": "123456QWewQ",
                  "seconds_duration": 600,
                  "provider": "samba",
                  "active": "true"
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "3",
                    "type": "media",
                    "attributes": {
                      "name": "Video 01",
                      "description": null,
                      "attachment": {
                        "url": null
                      },
                      "seconds-duration": 600,
                      "provider": "samba",
                      "correction": null,
                      "code": null,
                      "active": true,
                      "matter": null,
                      "subject": null,
                      "difficulty": null,
                      "concourse": null,
                      "created-by": 11,
                      "updated-by": null,
                      "medium-type": "video",
                      "medium-text": null,
                      "video-id": "123456QWewQ"
                    },
                    "relationships": {
                      "nodes": {
                        "data": []
                      },
                      "items": {
                        "data": []
                      },
                      "node-modules": {
                        "data": []
                      },
                      "answers": {
                        "data": []
                      }
                    }
                  }
                }


### Criação de uma midia do tipo exercicio [POST]
+ Request (application/json)
    + Body

                {
                  "name": "Exercicio 01",
                  "description": "Qual a resposta certa?",
                  "medium_type": "fixation_exercise",
                  "correction": "É a reposta 1 porque...",
                  "audit_status": "reviewed",
                  "active": "true",
                  "difficulty": 3,
                  "answers_attributes": [{
                    "text": "Alternativa 1",
                    "correct": "true",
                    "active": "true"
                  }, {
                    "text": "Alternativa 2",
                    "correct": "false",
                    "active": "true"
                  }, {
                    "text": "Alternativa 3",
                    "correct": "false",
                    "active": "true"
                  }, {
                    "text": "Alternativa 4",
                    "correct": "false",
                    "active": "true"
                  }, {
                    "text": "Alternativa 5",
                    "correct": "false",
                    "active": "true"
                  }]
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "4",
                    "type": "media",
                    "attributes": {
                      "name": "Exercicio 01",
                      "description": "Qual a resposta certa?",
                      "attachment": {
                        "url": null
                      },
                      "seconds-duration": null,
                      "provider": null,
                      "correction": "É a reposta 1 porque...",
                      "code": null,
                      "active": true,
                      "matter": null,
                      "subject": null,
                      "difficulty": 3,
                      "concourse": null,
                      "created-by": 11,
                      "updated-by": null,
                      "medium-type": "fixation_exercise",
                      "medium-text": null,
                      "video-id": null
                    },
                    "relationships": {
                      "nodes": {
                        "data": []
                      },
                      "items": {
                        "data": []
                      },
                      "node-modules": {
                        "data": []
                      },
                      "answers": {
                        "data": [{
                          "id": "6",
                          "type": "answers"
                        }, {
                          "id": "7",
                          "type": "answers"
                        }, {
                          "id": "8",
                          "type": "answers"
                        }, {
                          "id": "9",
                          "type": "answers"
                        }, {
                          "id": "10",
                          "type": "answers"
                        }]
                      }
                    }
                  },
                  "included": [{
                    "id": "6",
                    "type": "answers",
                    "attributes": {
                      "text": "Alternativa 1",
                      "explanation": null,
                      "correct": true,
                      "active": true
                    }
                  }, {
                    "id": "7",
                    "type": "answers",
                    "attributes": {
                      "text": "Alternativa 2",
                      "explanation": null,
                      "correct": false,
                      "active": true
                    }
                  }, {
                    "id": "8",
                    "type": "answers",
                    "attributes": {
                      "text": "Alternativa 3",
                      "explanation": null,
                      "correct": false,
                      "active": true
                    }
                  }, {
                    "id": "9",
                    "type": "answers",
                    "attributes": {
                      "text": "Alternativa 4",
                      "explanation": null,
                      "correct": false,
                      "active": true
                    }
                  }, {
                    "id": "10",
                    "type": "answers",
                    "attributes": {
                      "text": "Alternativa 5",
                      "explanation": null,
                      "correct": false,
                      "active": true
                    }
                  }]
                }


### Criação de uma midia do tipo pdf [POST]
+ Request (application/json)
    + Body

                {
                  "name": "Arquivo pdf",
                  "medium_type": "pdf",
                  "active": "true",
                  "attachment": "data:application/pdf;base64,JVBERi0xLjYKJeTjz9IKMSAwIG9iagpbL1BERi9JbWFnZUIvSW1hZ2VDL0ltYWdlSS9UZXh0XQplbmRvYmoKNCAwIG9iago8PC9MZW5ndGggNSAwIFIKL0ZpbHRlci9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeJwDAAAAAAEKZW5kc3RyZWFtCmVuZG9iago1IDAgb2JqCjgKZW5kb2JqCjcgMCBvYmoKPDwvU3VidHlwZS9JbWFnZQovV2lkdGggMQovSGVpZ2h0IDEKL0JpdHNQZXJDb21wb25lbnQgOAovQ29sb3JTcGFjZS9EZXZpY2VSR0IKL0ZpbHRlci9GbGF0ZURlY29kZQovTGVuZ3RoIDggMCBSCj4+CnN0cmVhbQp4nPvPwAAAAwABAAplbmRzdHJlYW0KZW5kb2JqCjggMCBvYmoKMTEKZW5kb2JqCjkgMCBvYmoKPDwvTGVuZ3RoIDEwIDAgUgovRmlsdGVyL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp4nCvkMlQwAEJDBWMDUz1TBWNLEJmcy6XvaaDgks8VyAUAcc8GtwplbmRzdHJlYW0KZW5kb2JqCjEwIDAgb2JqCjM4CmVuZG9iagoxMSAwIG9iagpbIDQgMCBSIDkgMCBSXQplbmRvYmoKMTIgMCBvYmoKPDwvUHJvY1NldCAxIDAgUgovWE9iamVjdDw8L0kwIDcgMCBSCj4+Cj4+CmVuZG9iagoxMyAwIG9iago8PC9TdWJqZWN0IChHZW5lcmF0ZWQgb24gTm92ZW1iZXIgMTcsIDIwMTYsIDQ6MTMgcG0pCi9UaXRsZSAoQ29udmVydCBKUEcgdG8gUERGIG9ubGluZSAtIGNvbnZlcnQtanBnLXRvLXBkZi5uZXQpCi9BdXRob3IgKGNvbnZlcnQtanBnLXRvLXBkZi5uZXQpCi9DcmVhdG9yIChjb252ZXJ0LWpwZy10by1wZGYubmV0KQovQ3JlYXRpb25EYXRlIChEOjIwMTYxMTE3MTYxMzE0KzAxJzAwJykKL1Byb2R1Y2VyIChQREZsaWIgTGl0ZSA3LjAuNXAzIFwoUEhQNS9MaW51eC14ODZfNjRcKSkKPj4KZW5kb2JqCjMgMCBvYmoKPDwvVHlwZS9QYWdlCi9QYXJlbnQgMiAwIFIKL0NvbnRlbnRzIDExIDAgUgovUmVzb3VyY2VzIDEyIDAgUgovTWVkaWFCb3hbMCAwIDYxMiA3OTJdCj4+CmVuZG9iagoyIDAgb2JqCjw8L1R5cGUvUGFnZXMKL0NvdW50IDEKL0tpZHNbIDMgMCBSXT4+CmVuZG9iagoxNCAwIG9iago8PC9UeXBlL0NhdGFsb2cKL1BhZ2VzIDIgMCBSCj4+CmVuZG9iagp4cmVmCjAgMTUKMDAwMDAwMDAwNiA2NTUzNSBmIAowMDAwMDAwMDE1IDAwMDAwIG4gCjAwMDAwMDA5NTMgMDAwMDAgbiAKMDAwMDAwMDg1MCAwMDAwMCBuIAowMDAwMDAwMDYzIDAwMDAwIG4gCjAwMDAwMDAxNDMgMDAwMDAgbiAKMDAwMDAwMDAwMCAwMDAwMSBmIAowMDAwMDAwMTYwIDAwMDAwIG4gCjAwMDAwMDAzMTkgMDAwMDAgbiAKMDAwMDAwMDMzNyAwMDAwMCBuIAowMDAwMDAwNDQ4IDAwMDAwIG4gCjAwMDAwMDA0NjcgMDAwMDAgbiAKMDAwMDAwMDQ5OCAwMDAwMCBuIAowMDAwMDAwNTU3IDAwMDAwIG4gCjAwMDAwMDEwMDcgMDAwMDAgbiAKdHJhaWxlcgo8PC9TaXplIDE1Ci9Sb290IDE0IDAgUgovSW5mbyAxMyAwIFIKL0lEWzxFMzdBRUE4ODY4NUUwNDVEODgxQkZFQUFGRDA3MDJERD48RTM3QUVBODg2ODVFMDQ1RDg4MUJGRUFBRkQwNzAyREQ+XQo+PgpzdGFydHhyZWYKMTA1NQolJUVPRgo="
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB


+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "6",
                    "type": "media",
                    "attributes": {
                      "name": "Arquivo pdf",
                      "description": null,
                      "attachment": {
                        "url": "https://cdnqa.mesalva.com/uploads/medium/attachment/integration.pdf"
                      },
                      "seconds-duration": null,
                      "provider": null,
                      "correction": null,
                      "code": null,
                      "active": true,
                      "matter": null,
                      "subject": null,
                      "difficulty": null,
                      "concourse": null,
                      "created-by": 11,
                      "updated-by": null,
                      "medium-type": "pdf",
                      "medium-text": null,
                      "video-id": null
                    },
                    "relationships": {
                      "nodes": {
                        "data": []
                      },
                      "items": {
                        "data": []
                      },
                      "node-modules": {
                        "data": []
                      },
                      "answers": {
                        "data": []
                      }
                    }
                  }
                }

## Comentários em mídias [/media/{permalink_slug}/comments]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked

### Criação comentário em mídia [POST]

+ Request (application/json)
    + Parameters
        + permalink_slug: `enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1` (string, required) - Slug do permalink

    + Headers

                uid:  user@integration.com
                access-token:  kaTuL76JKSqWb9PmwnQYQA
                client:  WEB

    + Body

                {
                  "text": "Exatamente!"
                }

+ Response 201 (application/json; charset=utf-8)
                {
                  "data": {
                    "id": "HvhwKcNlR6PsEqiYX0sj_A",
                    "type": "comments",
                    "attributes": {
                      "text": "Exatamente!",
                      "author-name": null,
                      "created-at": "2017-02-12T08:44:42.174Z",
                      "updated-at": "2017-02-12T08:44:42.174Z",
                      "author-image": {
                        "url": null
                      }
                    },
                    "relationships": {
                      "commenter": {
                        "data": {
                          "id": "user@integration.com",
                          "type": "admins"
                        }
                      }
                    }
                  }
                }

### Listagem de comentários de uma mídia [GET]

+ Request (application/json)
    + Parameters

        + permalink_slug: `enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1` (string, required) - slug permalink

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": [{
                    "id": "IntErN41n0T3",
                    "type": "comments",
                    "attributes": {
                      "text": "Internal note",
                      "author-name": "User Test",
                      "created-at": "2017-02-12T08:44:42.174Z",
                      "updated-at": "2017-02-12T08:44:42.174Z",
                      "author-image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.jpeg"
                      }
                    },
                    "relationships": {
                      "commenter": {
                        "data": {
                          "id": "admin@integration.com",
                          "type": "admins"
                        }
                      }
                    }
                  }, {
                    "id": "zbXW4o_cT-NaFy1Mx4OTA",
                    "type": "comments",
                    "attributes": {
                      "text": "Exatamente!",
                      "author-name": "User Test",
                      "created-at": "2017-02-12T08:44:42.174Z",
                      "updated-at": "2017-02-12T08:44:42.174Z",
                      "author-image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.jpeg"
                      }
                    },
                    "relationships": {
                      "commenter": {
                        "data": {
                          "id": "admin@integration.com",
                          "type": "admins"
                        }
                      }
                    }
                  }, {
                    "id": "HvhwKcNlR6PsEqiYX0sj_A",
                    "type": "comments",
                    "attributes": {
                      "text": "Exatamente!",
                      "author-name": "User Test",
                      "created-at": "2017-02-12T08:44:42.174Z",
                      "updated-at": "2017-02-12T08:44:42.174Z",
                      "author-image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.jpeg"
                      }
                    },
                    "relationships": {
                      "commenter": {
                        "data": {
                          "id": "admin@integration.com",
                          "type": "admins"
                        }
                      }
                    }
                  }, {
                    "id": "lJ0nP6UoPDtcPUouhkYvJQ",
                    "type": "comments",
                    "attributes": {
                      "text": "Acesso congelado porque entrou de férias",
                      "author-name": "User Test",
                      "created-at": "2017-02-12T08:44:42.174Z",
                      "updated-at": "2017-02-12T08:44:42.174Z",
                      "author-image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.jpeg"
                      }
                    },
                    "relationships": {
                      "commenter": {
                        "data": {
                          "id": "admin@integration.com",
                          "type": "admins"
                        }
                      }
                    }
                  }],
                  "links": {
                    "self": "http://127.0.0.1:3001/comments?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20\u0026permalink_slug=enem-e-vestibulares%2Fplano-de-estudos-1%2Fmatematica-e-suas-tecnologias%2Fmatematica%2Ftrigonometria%2Fo-que-e-um-triangulo%2Fvideo-basico-1",
                    "first": "http://127.0.0.1:3001/comments?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20\u0026permalink_slug=enem-e-vestibulares%2Fplano-de-estudos-1%2Fmatematica-e-suas-tecnologias%2Fmatematica%2Ftrigonometria%2Fo-que-e-um-triangulo%2Fvideo-basico-1",
                    "prev": null,
                    "next": null,
                    "last": "http://127.0.0.1:3001/comments?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20\u0026permalink_slug=enem-e-vestibulares%2Fplano-de-estudos-1%2Fmatematica-e-suas-tecnologias%2Fmatematica%2Ftrigonometria%2Fo-que-e-um-triangulo%2Fvideo-basico-1"
                  }
                }

## Edição de comentários em mídias [/media/{permalink_slug}/comments/{id}]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  POST


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: http://mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-dateaccess-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Access-Control-Allow-Headers: X-Requested-With
                Content-Length: 0

### Atualização de comentários [PUT]

+ Request (application/json)
    + Parameters
        + permalink_slug: `enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1` (string, required) - Slug do permalink
        + id: `Token` (string, required)

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

    + Body
                {
                  "text": "Exatamente!"
                }

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "Token",
                    "type": "comments",
                    "attributes": {
                      "text": "Exatamente!",
                      "author-name": "Novo nome com atributo",
                      "created-at": "2017-02-12T08:44:42.174Z",
                      "updated-at": "2017-02-12T08:44:42.174Z",
                      "author-image": {
                        "url": "https://cdnqa.mesalva.com/uploads/user/image/integration.jpeg"
                      }
                    },
                    "relationships": {
                      "commenter": {
                        "data": {
                          "id": "user@integration.com",
                          "type": "users"
                        }
                      }
                    }
                  }
                }


## Medium [/media/{id}{?permalink_slug}]
### Atualização de media na hierarquia de conteúdo [PUT]

+ Request (application/json)
    + Parameters
        + id: `1` (number, required) - Id do media
        + permalink_slug: (string, optional)

    + Body

                {
                  "name": "Exercício 666",
                  "description": "Explicação do copo que desaparece!",
                  "correction": "Algo errado não esta certo!",
                  "code": "E039",
                  "active": "true",
                  "matter": "Logarítimo",
                  "subject": "Algebra Linear",
                  "difficulty": 3,
                  "concourse": "Enem e Vestibulares",
                  "tag": ["Matemática", "Algebra", "Fácil"]
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "1",
                    "type": "media",
                    "attributes": {
                      "name": "Exercício 666",
                      "description": "Explicação do copo que desaparece!",
                      "attachment": {
                        "url": null
                      },
                      "seconds-duration": 15,
                      "provider": "youtube",
                      "correction": "Algo errado não esta certo!",
                      "code": "E039",
                      "active": true,
                      "matter": "Logarítimo",
                      "subject": "Algebra Linear",
                      "difficulty": 3,
                      "concourse": "Enem e Vestibulares",
                      "created-by": null,
                      "updated-by": "admin@integration.com",
                      "medium-type": "video",
                      "medium-text": null,
                      "video-id": "Vw8R8gCNMoI",
                      "tag": ["Matemática", "Algebra", "Fácil"]
                    },
                    "relationships": {
                      "nodes": {
                        "data": []
                      },
                      "items": {
                        "data": [{
                          "id": "1",
                          "type": "items"
                        }]
                      },
                      "node-modules": {
                        "data": []
                      },
                      "answers": {
                        "data": []
                      }
                    }
                  }
                }


### Visualização de mídia [GET]

+ Parameters
    + id: `video-basico-1` (string, required) - Id da midia
    + permalink_slug: `enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1` (string, optional)

+ Request (application/json)
    + Headers

                uid:  user@integration.com
                access-token:  kaTuL76JKSqWb9PmwnQYQA
                client:  WEB

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "1",
                    "type": "media",
                    "attributes": {
                      "name": "Exercício 666",
                      "description": "Explicação do copo que desaparece!",
                      "attachment": {
                        "url": null
                      },
                      "seconds-duration": 15,
                      "provider": "youtube",
                      "correction": "Algo errado não esta certo!",
                      "code": "E039",
                      "active": true,
                      "matter": "Logarítimo",
                      "subject": "Algebra Linear",
                      "difficulty": 3,
                      "concourse": "Enem e Vestibulares",
                      "slug": "video-basico",
                      "medium-type": "video",
                      "medium-text": null,
                      "video-id": "Vw8R8gCNMoI"
                    },
                    "relationships": {
                      "answers": {
                        "data": []
                      }
                    }
                  }
                }


## Imagens genéricas [/images]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


### Criação de nova imagem com upload [POST]

+ Request (application/json)
    + Body

                {
                  "image": {
                    "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP4z8DwHwAFAAH/VscvDQAAAABJRU5ErkJggg=="
                  }
                }

    + Headers

                uid:  admin@integration.com
                access-token:  LkoOFd6bnxRqk1xJlsQYHA
                client:  WEB

+ Response 201 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "1",
                      "type": "images",
                      "attributes": {
                        "image": {
                          "url": "https://cdnqa.mesalva.com/uploads/image/integration.png"
                        }
                      }
                  }
                }

# Group Navegação

## Permalinks [/permalink_contents]
### Métodos HTTP disponíveis [OPTIONS]

+ Request
    + Headers

                Origin:  https://www.mesalva.com
                Access-Control-Request-Method:  GET


+ Response 200 (text/plain)
    + Headers

                Access-Control-Allow-Origin: https://www.mesalva.com
                Access-Control-Allow-Methods: HEAD, OPTIONS, GET, POST, PUT, PATCH, DELETE
                Access-Control-Expose-Headers: access-token, expiry, token-type, uid, client, x-date
                Access-Control-Max-Age: 1728000
                Connection: close
                Transfer-Encoding: chunked


## Permalink [/permalink_contents/{id}]
### Permalink terminado em medium [GET]

+ Parameters
    + id: `enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1` (string, required) - permalink_contents/{id}

+ Response 200 (application/json; charset=utf-8)
    + Body

              {
                "data": {
                  "id": "7",
                  "type": "permalinks",
                  "attributes": {
                    "slug": "enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1",
                    "canonical-uri": null
                  }
                },
                "meta": {
                  "entities": [{
                    "id": 2,
                    "name": "Enem e Vestibulares",
                    "slug": "enem-e-vestibulares",
                    "color-hex": null,
                    "entity-type": "node",
                    "node-type": "education_segment"
                  }, {
                    "id": 3,
                    "name": "Plano de estudos 1",
                    "slug": "plano-de-estudos-1",
                    "color-hex": null,
                    "entity-type": "node",
                    "node-type": "study_plan"
                  }, {
                    "id": 4,
                    "name": "Matemática e suas tecnologias",
                    "slug": "matematica-e-suas-tecnologias",
                    "color-hex": "ED4343",
                    "entity-type": "node",
                    "node-type": "area"
                  }, {
                    "id": 5,
                    "name": "Matemática",
                    "slug": "matematica",
                    "color-hex": "ED4343",
                    "entity-type": "node",
                    "node-type": "area_subject"
                  }, {
                    "id": 1,
                    "name": "Trigonometria",
                    "slug": "trigonometria",
                    "entity-type": "node_module"
                  }, {
                    "id": 1,
                    "name": "O que é um triângulo?",
                    "slug": "o-que-e-um-triangulo",
                    "description": "item basico",
                    "free": true,
                    "active": true,
                    "code": "BAS",
                    "created-by": "1",
                    "updated-by": "1",
                    "item-type": "video",
                    "downloadable": true,
                    "tag": null,
                    "streaming-status": null,
                    "entity-type": "item",
                    "chat-token": null,
                    "media": [{
                      "slug": "video-basico-1",
                      "medium-type": "video"
                    }]
                  }, {
                    "id": 1,
                    "name": "Vídeo Basico 1",
                    "slug": "video-basico-1",
                    "entity-type": "medium"
                  }]
                }
              }


### Permalink terminado em item [GET]

+ Parameters
    + id: `enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/quem-foi-pitagoras` (string, required) - permalink_contents/{id}

+ Response 200 (application/json; charset=utf-8)
    + Body

                {
                  "data": {
                    "id": "7",
                    "type": "permalinks",
                    "attributes": {
                      "slug": "enem-e-vestibulares/plano-de-estudos-1/matematica-e-suas-tecnologias/matematica/trigonometria/o-que-e-um-triangulo/video-basico-1",
                      "canonical-uri": null
                    }
                  },
                  "meta": {
                    "entities": [{
                      "id": 2,
                      "name": "Enem e Vestibulares",
                      "slug": "enem-e-vestibulares",
                      "color-hex": null,
                      "entity-type": "node",
                      "node-type": "education_segment"
                    }, {
                      "id": 3,
                      "name": "Plano de estudos 1",
                      "slug": "plano-de-estudos-1",
                      "color-hex": null,
                      "entity-type": "node",
                      "node-type": "study_plan"
                    }, {
                      "id": 4,
                      "name": "Matemática e suas tecnologias",
                      "slug": "matematica-e-suas-tecnologias",
                      "color-hex": "ED4343",
                      "entity-type": "node",
                      "node-type": "area"
                    }, {
                      "id": 5,
                      "name": "Matemática",
                      "slug": "matematica",
                      "color-hex": "ED4343",
                      "entity-type": "node",
                      "node-type": "area_subject"
                    }, {
                      "id": 1,
                      "name": "Trigonometria",
                      "slug": "trigonometria",
                      "entity-type": "node_module"
                    }, {
                      "id": 1,
                      "name": "O que é um triângulo?",
                      "slug": "o-que-e-um-triangulo",
                      "description": "item basico",
                      "free": true,
                      "active": true,
                      "code": "BAS",
                      "created-by": "1",
                      "updated-by": "1",
                      "item-type": "video",
                      "downloadable": true,
                      "tag": null,
                      "streaming-status": null,
[...]
