<% name = ", #{@name.split.first}" if @name.present? %>
<center>
	<div style="max-width: 600px; width: 100%; margin: auto; font-family: sans-serif; color: #686868; line-height: 1.25em;">
		<img src="https://cdn.mesalva.com/marketing/mailing/2018/endtheyear-banner-min.png" height="100" width="600" />
		<div style="padding: 48px; text-align: left;">
			<p>
				<strong style="font-size: 1.2em;">
					Olá<%= name %>. Seja muito bem-vind@!
				</strong>
			</p>
			<p>
				Você acaba de ter o seu acesso liberado e já pode usar o curso que ganhou de presente através da promoção de Fim de Ano do Me Salva!
			</p>
			<p>
				Venho lembrar que a duração da sua bolsa é compatível com a duração do curso que a originou.
			</p>
			<p>
				Caso a compra seja cancelada, a bolsa também será cancelada automaticamente.
			</p>
			<p>
				Se já possuir acesso premium ao curso com que foi presenteado, o tempo de acesso será somado, mas somente nesse caso. Se forem cursos diferentes, segue o mesmo tempo de acesso do curso comprado que originou a bolsa.
			</p>
			<p>
				Agora que já está tudo certinho com o seu acesso, é só se jogar e aproveitar muito esse presentão que pode contribuir na realização dos seus sonhos!
			</p>
			<p>
				<strong>
					Abração!<br/>
					Bons estudos!
				</strong>
			</p>
		</div>
	</div>
</center>
