<% name = ", #{@name.split.first}" if @name.present? %>
<center>
	<div style="max-width: 600px; width: 100%; margin: auto; font-family: sans-serif; color: #686868; line-height: 1.25em;">
		<img src="https://cdn.mesalva.com/marketing/mailing/2018/endtheyear-banner-min.png" height="100" width="600" />
		<div style="padding: 48px; text-align: left;">
			<p>
				<strong style="font-size: 1.2em;">
					E aí<%= name %>! Tudo certinho?
				</strong>
			</p>
			<p>
				Seja bem-vind@ ao Me Salva!<br/>
				O seu acesso acaba de ser liberado e estamos aqui preparados para ser o seu melhor parceiro de estudos. Chegou o momento de você atingir os seus objetivos e queremos ajudar você a trilhar essa caminhada.
			</p>
			<p>
				Mas também devemos valorizar quem está aí ao seu lado, pertinho. Aquela parceria que compartilha madrugadas sem dormir, dúvidas nos estudos e que dá aquele abraço quando tudo vai bem. Pra fortalecer ainda mais essa amizade, é só compartilhar com essa pessoa especial o cupom abaixo:
			</p>
			<div style="text-align: center; padding: 32px">
				<div style="color: #ED9043; margin-bottom: 4px;"><strong>cupom</strong></div>
				<strong style="display: inline-block; color: #ED9043; border: 3px solid #ED9043; line-height: 40px; padding: 0 16px; border-radius: 48px; margin: 0 8px;"><%= @coupon %></strong>
			</div>
			<p style="text-align: center;">Agora confira o passo a passo para validar o cupom:</p>
			<div style="padding: 12px 24px; border: 3px solid #543BA3; margin: 24px 0 3em; color: #543BA3; font-weight: bold">
				<p>
					<strong style="font-size: 1.2em; color: #ED4343">1. </strong> Compartilhe o código com aquele parceiraço;
				</p>
				<p>
					<strong style="font-size: 1.2em; color: #ED4343">2. </strong> Peça para ele(a) acessar <a style="color: #ED4343; text-decoration: underline;" href="https://mesalva.com/valide-seu-cupom">mesalva.com/valide-seu-cupom</a> e validar o cupom;
				</p>
				<p>
					<strong style="font-size: 1.2em; color: #ED4343">3. </strong> Prontinho! É só começar a estudar.
				</p>
				<p style="color:#ED4343">
					Atenção! O prazo para validar este cupom é de 7 dias!
				</p>
			</div>
			<p style="text-align: center;">
				Estamos muito felizes por você fazer parte dessa transformação!
			</p>
			<p style="color: #543BA3; text-align: center; font-size: 1.2em">
				<strong>Conta com a gente! Bons estudos!</strong>
			</p>
		</div>
	</div>
</center>
