<% name = ", #{@name.split.first}" if @name.present? %>
<center>
	<div style="max-width: 600px; width: 100%; margin: auto; font-family: sans-serif; color: #686868; line-height: 1.25em;">
		<img src="https://cdn.mesalva.com/marketing/mailing/2018/endtheyear-banner-min.png" height="100" width="600" />
		<div style="padding: 48px; text-align: left;">
			<p>
				<strong style="font-size: 1.2em;">
					Olá<%= name %>. Tudo bem?
				</strong>
			</p>
			<p>
				Viemos informar que o seu acesso infelizmente foi cancelado.
			</p>
			<p>
				Conforme já havia sido informado, para que o acesso via cupom utilizado exista não pode haver cancelamento ou reembolso da compra que a originou.
			</p>
			<p>
				Caso queira conversar com a gente, estamos a disposição.
			</p>
			<p>
				<strong>
					Abração!
				</strong>
			</p>
		</div>
	</div>
</center>
