---
http_interactions:
- request:
    method: post
    uri: https://cws.correios.com.br/cws/abrangenciaService/abrangenciaWS?wsdl
    body:
      encoding: UTF-8
      string: |-
        <x:Envelope xmlns:x="http://schemas.xmlsoap.org/soap/envelope/"
                     xmlns:ser="http://service.abrangencia.cws.correios.com.br/"><x:Header/><x:Body><ser:consultarAbrangenciaDoServico>
                    <listaServico>SEDEX</listaServico>
                    <cepOrigem>12345678</cepOrigem>
                    <cepDestino>98765432</cepDestino>
                    </ser:consultarAbrangenciaDoServico></x:Body></x:Envelope>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic MTY3MzMyNjgwMDAxNzI6bWVzYWx2YTIwMTM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:consultarAbrangenciaDoServicoResponse
        xmlns:ns2="http://service.abrangencia.cws.correios.com.br/"><retorno><codigoRetorno>AB-0000</codigoRetorno><descricaoRetorno>Processamento
        OK.</descricaoRetorno><versao>1.9</versao><dataHoraRetorno>2022-07-04T23:56:56.196-03:00</dataHoraRetorno><abrangencia><listaServicos><codigo>40010</codigo><descricao>SEDEX_A_VISTA</descricao><disponibilidade>false</disponibilidade></listaServicos></abrangencia></retorno></ns2:consultarAbrangenciaDoServicoResponse></soap:Body></soap:Envelope>
  recorded_at: Tue, 05 Jul 2022 02:56:56 GMT
- request:
    method: post
    uri: http://ws.correios.com.br/calculador/calcprecoprazo.asmx/CalcPrecoPrazo
    body:
      encoding: UTF-8
      string: nCdEmpresa=17192293&sDsSenha=mesalva2013&nCdServico=3220&sCepOrigem=12345678&sCepDestino=98765432&nVlPeso=0.8&nCdFormato=1&nVlComprimento=20&nVlAltura=20&nVlLargura=10&nVlDiametro=0&sCdMaoPropria=N&nVlValorDeclarado=0&sCdAvisoRecebimento=N
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<cResultado xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://tempuri.org/\">\r\n
        \ <Servicos>\r\n    <cServico>\r\n      <Codigo>3220</Codigo>\r\n      <Valor>44,04</Valor>\r\n
        \     <PrazoEntrega>5</PrazoEntrega>\r\n      <ValorMaoPropria>0,00</ValorMaoPropria>\r\n
        \     <ValorAvisoRecebimento>0,00</ValorAvisoRecebimento>\r\n      <ValorValorDeclarado>0,00</ValorValorDeclarado>\r\n
        \     <EntregaDomiciliar>N</EntregaDomiciliar>\r\n      <EntregaSabado>N</EntregaSabado>\r\n
        \     <Erro>0</Erro>\r\n      <MsgErro />\r\n      <ValorSemAdicionais>44,04</ValorSemAdicionais>\r\n
        \     <obsFim />\r\n    </cServico>\r\n  </Servicos>\r\n</cResultado>"
  recorded_at: Tue, 05 Jul 2022 02:56:56 GMT
[...]
