---
http_interactions:
- request:
    method: post
    uri: https://api.pagar.me/1/plans
    body:
      encoding: UTF-8
      string: '{"name":"Test Package 1580320260","amount":1000,"days":30}'
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Basic YWtfdGVzdF83UU1XMjk1WmZ1N1RaSGtjMnRCVzhTaFhBZ3pCNmk6eA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Charset:
      - utf-8
      Etag:
      - W/"125-Ezxi2Kkc+qyBJnZXf64XDGfN1eE"
      X-Response-Time:
      - 19.873ms
    body:
      encoding: UTF-8
      string: '{"object":"plan","id":450316,"amount":1000,"days":30,"name":"Test Package
        1580320260","trial_days":0,"date_created":"2020-01-29T18:39:36.572Z","payment_methods":["boleto","credit_card"],"color":null,"charges":null,"installments":1,"invoice_reminder":null,"payment_deadline_charges_interval":1}'
  recorded_at: Wed, 29 Jan 2020 18:39:36 GMT
- request:
    method: get
    uri: https://api.pagar.me/1/plans/450316
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Basic YWtfdGVzdF83UU1XMjk1WmZ1N1RaSGtjMnRCVzhTaFhBZ3pCNmk6eA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Charset:
      - utf-8
      Etag:
      - W/"125-Ezxi2Kkc+qyBJnZXf64XDGfN1eE"
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1580323179'
      X-Response-Time:
      - 18.496ms
    body:
      encoding: UTF-8
      string: '{"object":"plan","id":450316,"amount":1000,"days":30,"name":"Test Package
        1580320260","trial_days":0,"date_created":"2020-01-29T18:39:36.572Z","payment_methods":["boleto","credit_card"],"color":null,"charges":null,"installments":1,"invoice_reminder":null,"payment_deadline_charges_interval":1}'
  recorded_at: Wed, 29 Jan 2020 18:39:37 GMT
- request:
    method: put
    uri: https://api.pagar.me/1/plans/450316
    body:
      encoding: UTF-8
      string: '{"name":"Updated Test Package 1580320260"}'
    headers:
      Content-Type:
      - application/json; charset=utf8
      Authorization:
      - Basic YWtfdGVzdF83UU1XMjk1WmZ1N1RaSGtjMnRCVzhTaFhBZ3pCNmk6eA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Charset:
      - utf-8
      Etag:
      - W/"12d-Rw5q4TGhTnk+r1PS/mUPninmkfA"
      X-Response-Time:
      - 22.492ms
    body:
      encoding: UTF-8
      string: '{"object":"plan","id":450316,"amount":1000,"days":30,"name":"Updated
        Test Package 1580320260","trial_days":0,"date_created":"2020-01-29T18:39:36.572Z","payment_methods":["boleto","credit_card"],"color":null,"charges":null,"installments":1,"invoice_reminder":null,"payment_deadline_charges_interval":1}'
  recorded_at: Wed, 29 Jan 2020 18:39:38 GMT
recorded_with: VCR 5.0.0
