---
http_interactions:
- request:
    method: post
    uri: https://apps3.correios.com.br/areletronico/v1/ars/eventos
    body:
      encoding: UTF-8
      string: '{ "objetos": ["AB999999999BR"] }'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MTY3MzMyNjgwMDAxNzI6bWVzYWx2YTIwMTM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: '[{"codigo":"AB999999999BR","imagemBase64":"","mensagem":"N° de Etiqueta/Objeto
        não encontrado","eventos":[],"tipo":""}]'
  recorded_at: Sun, 03 Jul 2022 23:00:39 GMT
recorded_with: VCR 5.0.0
