---
http_interactions:
- request:
    method: post
    uri: https://apps3.correios.com.br/areletronico/v1/ars/eventos
    body:
      encoding: UTF-8
      string: '{ "objetos": ["AB123456789BR"] }'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MTY3MzMyNjgwMDAxNzI6bWVzYWx2YTIwMTM=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: '[{"codigo":"AB123456789BR","mensagem":"Objeto
        Encontrado","eventos":[{"tipoEvento":"BDE","descricaoEvento":"Entregue","nomeUnidade":"unit_name","municipio":"city_name","uf":"UF","latitude":"-1,11111111111111","longitude":"1,11111111111111","dataEvento":"02/01/2022 08:00:00"},{"tipoEvento":"OEC","descricaoEvento":"Saiu para entrega ao destinatário","nomeUnidade":"unit_name","municipio":"city_name","uf":"UF","latitude":"","longitude":"","dataEvento":"02/01/2022 07:00:00"},{"tipoEvento":"DO","descricaoEvento":"Objeto expedido","nomeUnidade":"unit_name","municipio":"city_name","uf":"UF","latitude":"","longitude":"","dataEvento":"01/01/2022 15:00:00"},{"tipoEvento":"DO","descricaoEvento":"Objeto expedido","nomeUnidade":"unit_name","municipio":"city_name","uf":"UF","latitude":"","longitude":"","dataEvento":"01/01/2022 16:00:00"},{"tipoEvento":"DO","descricaoEvento":"Objeto expedido","nomeUnidade":"unit_name","municipio":"city_name","uf":"UF","latitude":"","longitude":"","dataEvento":"01/01/2022 17:00:00"}],"tipo":"Comprovante Eletrônico"}]'
  recorded_at: Sun, 03 Jul 2022 23:35:04 GMT
recorded_with: VCR 5.0.0
