<% base_url = @resource.class.to_s.upcase == "ADMIN" ? ENV['DEFAULT_ADMIN_URL'] : message['redirect-url'].to_s
   base_redirect_url = base_url + ENV["#{@resource.class.to_s.upcase}_PASSWORD_RESET_URI"]
   full_redirect_url = "#{base_redirect_url}?reset_password_token=#{@token.to_s}"
   %>
<div class="gmail_quote">
  <div dir="ltr">
    <div class="gmail_quote">
      <u>
      </u>
      <div style="min-height:100%;margin:0;padding:0;width:100%;background-color:#333333">
        <center>
          <table style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#333333" align="center" height="100%" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td style="height:100%;margin:0;padding:10px;width:100%;border-top:0" align="center" valign="top">
                  <span class="HOEnZb">
                    <font color="#888888">
                    </font>
                  </span>
                  <span class="HOEnZb">
                    <font color="#888888">
                    </font>
                  </span>
                  <table style="border-collapse:collapse;border:0;max-width:600px!important;margin-top:30px;margin-bottom:30px" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                      </tr>
                      <tr>
                        <td style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0" valign="top">
                          <table style="min-width:100%;border-collapse:collapse" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="padding:0px" valign="top">
                                  <table style="min-width:100%;border-collapse:collapse" align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center" valign="top">
                                          <img class="CToWUd" alt="" src="https://ci4.googleusercontent.com/proxy/WZUg-RIEj2s7unKF-xao_Z0AyliiD79m_IfmlmaZ3xZp_DyO3KKt8B9hdl4UI9mtvxqYgIzie-FPpoqkuMfNF1hR5qIzzUCNYirikS3b-_WJA79MZ1B3So4M8qOqmlnwO5p_AfE9rEguJ0VJ5e-8vg56HjaejBei_Bb9IQQ=s0-d-e1-ft#https://gallery.mailchimp.com/f33f2a91776c516c087bf1e51/images/f71f2a16-c52f-4915-9ecc-951270e9629b.png" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" align="middle" width="600">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px" valign="top">
                          <table style="min-width:100%;border-collapse:collapse" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td valign="top">
                                  <table style="min-width:100%;border-collapse:collapse" align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left" valign="top">
                                          <div style="line-height:normal;text-align:center">
                                            <br>
                                            <font face="arial, helvetica, sans-serif">
                                              <span style="font-size:18px">
                                                <strong>RECUPERAR SENHA</strong>
                                              </span>
                                            </font>
                                          </div>
                                          <div style="color:#222222;font-family:arial,sans-serif;font-size:12.8px;line-height:normal">&nbsp;
                                          </div>
                                          <div style="line-height:normal">
                                            <span style="font-size:14px">
                                              <font face="arial, helvetica, sans-serif">Ficamos sabendo que você andou tendo problemas com a sua senha e estamos aqui para ajudá-lo! Para voltar a ter acesso basta você clicar nesse link abaixo e criar uma nova:</font>
                                              <br>
                                              <br>
                                              <strong>
                                                  <%= link_to 'Trocar minha senha', full_redirect_url %>
                                              </strong>
                                              <br>
                                              <br>
                                              Caso você não tenha pedido para recuperar sua senha por favor ignore esse email.<br>
                                              <br>
                                              Um abraço!
                                            </span>
                                            <br>
                                            &nbsp;
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="background-color:#efebe1;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px" valign="top">
                          <span class="HOEnZb">
                            <font color="#888888">
                            </font>
                          </span>
                          <span class="HOEnZb">
                            <font color="#888888">
                            </font>
                          </span>
                          <span class="HOEnZb">
                            <font color="#888888">
                            </font>
                          </span>
                          <table style="min-width:100%;border-collapse:collapse" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="padding:0px" valign="top">
                                  <span class="HOEnZb">
                                    <font color="#888888">
                                    </font>
                                  </span>
                                  <span class="HOEnZb">
                                    <font color="#888888">
                                    </font>
                                  </span>
                                  <table style="min-width:100%;border-collapse:collapse" align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center" valign="top">
                                          <img class="CToWUd" alt="" src="https://ci4.googleusercontent.com/proxy/StLwlRZBNQwa5oJoTENKdeCEaiL-XG2bR2xU6sgHdCqquL3U_NrThgNjLboB-SVUHRJtGni01BFONkVBavRGAaO55ELNvAH13AVoJBQHI5e07thXnxZBGvTQgVoRTLvFJ55n6nNORfubt4B80BqZ8yvmEEfKMHqtmxwODJ0=s0-d-e1-ft#https://gallery.mailchimp.com/f33f2a91776c516c087bf1e51/images/884ec7b0-8eed-43f4-a549-d14d1434fbda.png" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" align="middle" width="300">
                                          <span class="HOEnZb">
                                            <font color="#888888">
                                            </font>
                                          </span>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <span class="HOEnZb">
                                    <font color="#888888">
                                    </font>
                                  </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </div>
    </div>
    <div class="yj6qo ajU">
      <div aria-label="Mostrar conteúdo cortado" data-tooltip="Mostrar conteúdo cortado" id=":41w" class="ajR" role="button" tabindex="0">
        <img class="ajT" src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif">
      </div>
    </div>
    <span class="HOEnZb adL">
      <font color="#888888">
        <div>--&nbsp;<br>
        </div>
      </font>
    </span>
  </div>
</div>
